<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <connectionStrings>
    <add name="DuLichASPConnectionString" connectionString="Data Source=DESKTOP-NVB6O2Q;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString2" connectionString="Data Source=DESKTOP-NVB6O2Q;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString3" connectionString="Data Source=PC-TRUONG\SQLEXPRESS;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString4" connectionString="Data Source=PC-TRUONG\SQLEXPRESS;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString5" connectionString="Data Source=PC-TRUONG\SQLEXPRESS;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString6" connectionString="Data Source=PC-TRUONG\SQLEXPRESS;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString7" connectionString="Data Source=PC-TRUONG\SQLEXPRESS;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DuLichASPConnectionString8" connectionString="Data Source=PC-TRUONG\SQLEXPRESS;Initial Catalog=DuLichASP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>